<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/_nlogs/internal-nlog.log">
	<variable name="logDirectory" value="${basedir}/_nlogs/"/>
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Null" name="blackhole" />
		<target xsi:type="File" name="hangfire" fileName="${logDirectory}/Hangfire-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="common" fileName="${logDirectory}/common-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="app" fileName="${logDirectory}/app-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="all" fileName="${logDirectory}/all-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="allConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
	</targets>
	<rules>
		<!-- suggest minlevel: {dev: Trace, prod: Info} 注意，将Info调整到Trace则显示所有的日志-->

		<!-- OrchardCore logs -->
		<logger name="OrchardCore.*" minlevel="Trace" writeTo="blackhole" final="true"/>
		<!-- common logs-->
		<logger name="Common.*" minlevel="Trace" writeTo="common" final="true"/>
		<!-- app logs-->
		<logger name="TryEfCore.*" minlevel="Trace" writeTo="app" final="true"/>
		<!--all logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allConsole, all" />
	</rules>
</nlog>